{{ define "main" }}
<article class="post-single">
    <header class="post-header">
        <h1 class="post-title">{{ .Page.Title }}</h1>
    </header>

    {{ if and (isset .Params "image") .Params.image }}
    {{ $image := .Page.Resources.GetMatch .Params.image }}
    {{ with $image }}
    {{ $thumb := .Resize "1000x" }}
    <div class="gallery-image-container">
        {{ printf `<img src="%s" alt="%s" class="gallery-image">` $thumb.RelPermalink .Title | safeHTML }}
    </div>
    {{end}}
    {{ end }}

    <div class="post-content">
        {{ .Content }}
    </div>
</article>
{{ end }}