<a id="nodebb-comments"></a>
<script>
    (function () {
        var nbb = {};
        /* Configure via shortcode params (with sensible defaults) */
        nbb.url = '//forum.cachevalley.co';
        nbb.cid = 1;

        nbb.articleID = '{{ .Page.Permalink }}';

        /* Load NodeBB's Ghost adapter */
        nbb.script = document.createElement('script');
        nbb.script.type = 'text/javascript';
        nbb.script.async = true;
        nbb.script.src = nbb.url + '/plugins/nodebb-plugin-blog-comments/lib/ghost.js';
        (document.head || document.body).appendChild(nbb.script);
    })();
</script>

<!-- Seed title/markdown so NodeBB can auto-create the topic on first load -->
<script id="nbb-title" type="text/markdown">{{ .Page.Title }}</script>
<script id="nbb-markdown" type="text/markdown">
{{- with .Page.RawContent -}}
{{ . }}
{{- else -}}
{{ .Page.Plain }}
{{- end -}}
</script>

<noscript>Please enable JavaScript to view comments</noscript>