<footer class="bg-white border-t border-gray-200">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <p class="text-gray-500 text-sm">
                Created by the community, for the community—powered by collaboration and
                proudly hosted by
                <a href="https://www.timelydevs.com"
                    class="text-indigo-600 hover:text-indigo-500 transition-colors duration-200">Timely Devs</a>.
            </p>
        </div>
    </div>
</footer>